.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  width: 716px; /* 140px * 5 column + 16px scrollbar width */
  border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td, thead th {
  width: 200px;
}

thead th:last-child {
  width: 156px; /* 140px + 16px scrollbar width */
}

.btnMargin{
  margin-left: 10px;
}
.red{
  color: red;
}
.cardata{

  justify-content: center;
    display: flex;
    margin-top: 14px;
}